.swiper {
  width: 100%;
  height: 950px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.swiper-pagination-bullet {
  background-color: #FFF;
}

.swiper-button-next, .swiper-button-prev {
  color: #FFF;
  margin: 0 3rem;
}

.banner1 {
  position: relative;
}

.banner1 p {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: #FFF;
  font-size: 5rem;
  width: 926px;
  text-align: start;
  font-family: 'Avenir';
}

.banner1-strong {
  font-weight: bold;
}

.banner1-background {
  border-radius: 25px;
  background-color: #D1BAD5;
  padding: 0 20px;
  color:  #E73F29;
}

.banner2 {
  position: relative;
}

.banner2 img {
  object-position: left;
}

.info-section-date {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10%;
  bottom: 20%;
  padding: 1rem 2rem;
  background-color: #FFF;
  border-radius: 35px;
}

.info-section-date img {
  max-width: 80px;
}

.info-section-date div {
  padding-left: 2rem;
}

.info-section-date div p:nth-child(2) {
  font-family: 'Avenir';
  font-size: 3.2rem;
  color: var(--purple);
  line-height: 45px;
}

.info-date {
  color: var(--red);
  font-family: 'Avenir';
  font-size: 3rem;
  font-weight: bolder;
}

.banner3 p {
  position: absolute;
  top: 40%;
  left: 10%;
  color: var(--red);
  font-family: 'Avenir';
  font-size: 5rem;
  max-width: 60%;
  text-align: start;
}

.banner3 img {
  object-position: right;
}

.banner3 .change-color {
  color: var(--purple);
  font-weight: bold;
}