.brands-container {
  background-color: var(--white);
  padding: 2rem 0;
}

.brands-section {
  max-width: 80%;
  margin: 0 auto;
}

.brands-section h2 {
  display: inline-block;
  font-family: 'Atelier';
  font-weight: 400;
  font-size: 2.8rem;
  background-color: var(--purple);
  color: var(--red);
  border-radius: 25px;
  padding: .7rem 2rem;
  margin: 2rem 0;
  width: fit-content;
}

.brands-images {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(6rem, 1fr));
  gap: 1rem;
  width: 70%;
  margin: 2.5rem auto;
}

.brands-images-container {
  border: 1px solid #000;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.brands-images-container img {
  width: 100%;
  object-position: center;
  object-fit: contain;
}

@media (max-width: 1000px) {
  .brands-images {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .brands-section h2 {
    font-size: 1.8rem;
  }

  .brands-images {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
  }
}