.burger {
  display: none;
}

header {
  display: flex;
  position: absolute;
  top: 0;
  width: calc(100% - 2.5rem);
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 10;
  color: #fff;
  z-index: 500;
}

.header-logo {
  width: 15%;
}

.header-logo img {
  width: 90%;
}

.header-menu {
  margin-right: 5rem;
}

.header-menu nav ul {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.header-menu nav ul a {
  cursor: pointer;
  padding: 10px;
  position: relative;
  color: white;
  text-decoration: none;
}

.header-menu nav ul a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D1BAD5;
  transform: scaleX(0);
  border-radius: 25px;
  transform-origin: left;
  transition: transform 0.5s ease-out;
  z-index: -1;
  text-decoration: underline;
}

.header-menu nav ul a:hover::before {
  transform: scaleX(1);
}

.header-menu nav ul a li {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu nav ul a li span {
  margin-right: 10px;
}

.header-menu__img {
  width: 2rem;
  height: 2rem;
}

.header-menu__img img {
  width: 100%;
  height: 100%;
}

@keyframes start {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(100%);
  }
}

@media (max-width: 1300px) {
  .header-menu nav {
    max-width: 100%;
  }

  .header-menu nav ul a li {
    font-size: 1.2rem;
  }

  .header-logo {
    width: 20%;
  }

  .header-menu {
    margin-right: 2rem;
  }

  .header-menu nav ul a{
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-logo img {
    z-index: 3;
    max-width: 30%;
  }

  .burger {
    display: block;
    margin-right: 3rem;
    z-index: 4;
    right: 30px;
    width: 88px;
    height: 88px;
    background: url("../assets/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  .burger.open {
    background-image: url('../assets/icons/close.svg');
    margin-right: 0;
  }

  .burger.open,
  .header-menu {
    position: fixed;
  }

  .header-background {
    position: fixed;
    z-index: 2;
    top: 44px;
    left: 0%;
    aspect-ratio: 1 / 1;
    translate: -20vh -165vh;
    height: 88px;
    background: #07030a;
    border-radius: 50%;
    opacity: 0;
    transition: 0.6s;
  }

  .header-background.open {
    height: 300vh;
    opacity: 0.85;
  }

  .header-menu {
    z-index: 3;
    top: 180px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
  }

  .header-menu nav ul a {
    margin-bottom: 2rem;
  }

  .header-menu a {
    transition: 0.5s;
  }

  .header-menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 100px;
    width: 70vw;
  }

  .header-menu.open {
    right: 110px;
    opacity: 1;
    visibility: visible;
  }

  .header-menu nav ul:hover li>a {
    opacity: 0.25;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 30px;
    }

    100% {
      opacity: 1;
    }
  }

  .appear {
    animation: appear 0.35s backwards;
  }
}

@media (max-width: 500px) {
  /* .header-menu nav ul {
    width: 80vw;
  } */

  .header-menu nav ul a li {
    font-size: 1rem;
  }

  .header-menu {
    top: 100px;
  }
}