.whoweare {
  background-color: var(--purple);
  width: 100%;
  padding-bottom: 4rem;
}

.whoweare-container {
  margin: 0 auto;
  max-width: 80%;
}

.whoweare-title {
  font-family: 'Atelier';
  font-size: 3.5rem;
  padding: .4rem 2rem;
  color: var(--purple);
  background-color: var(--red);
  width: fit-content;
  border-radius: 25px;
}

.whoweare-description {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  color: var(--white);
  font-size: 2.5rem;
  font-family: 'Avenir';
}

@media (max-width: 1300px) {
  .whoweare-container {
    padding-top: 2rem;
  }

  .whoweare-title {
    font-size: 2.8rem;
  }

  .whoweare-description {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .whoweare-description {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .whoweare-title {
    font-size: 1.8rem;
  }
  
  .whoweare-description {
    font-size: 1.6rem;
  }
}