body {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/fonts/Avenir.ttc');
}

@font-face {
  font-family: 'Atelier';
  src: url('./assets/fonts/Atelier.ttf');
}
